{% extends 'base.html.twig' %}

{% block title %}Inicio{% endblock %}

{% block busqueda %} 
    <form class="form-inline my-2 my-lg-0">
        {{ form(form) }}
    </form>
{% endblock busqueda %}

{% block titulo_panel %} El Pais {% endblock titulo_panel %}
    
{% block body %}
<div class="example-wrapper">
    <h1>Prueba - ingeniero de desarrollo Web</h1>
    <ul>
        <li><b>Participante:</b> Diego Fernando Molano Ceballos</li>         
    </ul>
</div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function() {
            $('.select2').select2();
        });
        
        function buscar_actividad() {
            var valor = $("#form_actividad").val();
            var url = '{{ path("ver_actividad", {'id': 'valor'}) }}';
            url = url.replace("valor", valor);
            window.location.replace(url);
        }
    </script>

{% endblock %}
