<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://bootswatch.com/4/lumen/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="/">TODO List App</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#barra_navegacion" aria-controls="barra_navegacion" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="barra_navegacion">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Inicio <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/persona">Personas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/usuario">Usuarios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/categoria">Categorias</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/actividad">Actividades</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search">
                    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>
        <br>
        <br>
        <br>
        <div class="container">
            <div class="panel panel-default">
                <div class="panel-heading" style="font-size: 15px; background-color: #000 !important; color: #fff !important;">
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <h4 class="panel-title text-left" style="padding: 10px 10px 10px 10px !important;">{% block titulo_panel %} {% endblock titulo_panel %}</h4> 
                        </div>
                        <div class="col-md-6 col-sm-6 text-right">
                            <a class="btn btn-success" href="#" style="margin-top: 10px !important; margin-right: 10px !important;"><span class="fas fa-plus"></span> Registrar</a>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    {% block texto_panel %}
                    {% endblock texto_panel %}
                    {% block contenido_panel %}
                        <div class="row">
                            <div class="col-xs-1"></div>
                            <div class="col-xs-10">
                                {% block contenido_panel_form %} {% endblock contenido_panel_form %}
                            </div>
                            <div class="col-xs-1"></div>
                        </div>
                    {% endblock contenido_panel %}
                </div>
            </div>
            {% block body %}{% endblock %}
        </div>
        
        {% block javascripts %}{% endblock %}
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>
